<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(content = ~{::content}, showAside = false, pageTitle = (${theme.config.links?.title} ?: '友链'), isLinksPage = true, head = ~{::head})}"
>
  <th:block th:fragment="head">
    <th:block th:replace="~{modules/head :: links-head}"></th:block>
  </th:block>
  <th:block th:fragment="content">
    <!-- 移动端页头 -->
    <div th:replace="~{modules/links/mobile-header}"></div>

    <div class="links-page">
      <!-- 友链列表 -->
      <div th:replace="~{modules/links/link-list}"></div>
      <!-- 站长友链信息 -->
      <div th:replace="~{modules/links/tabs-container}"></div>
      <!-- 提交友链弹窗 -->
      <div th:replace="~{modules/links/LinksSubmit-lywq/submit-modal}"></div>
      <!-- 更新友链弹窗 -->
      <div th:replace="~{modules/links/LinksSubmit-lywq/update-modal}"></div>
      <!-- 评论区 -->
      <th:block
        th:replace="~{modules/common/comment :: comment(group='plugin.halo.run', kind='Plugin', name=${pluginName}, title='评论区')}"
      />
    </div>
    <!-- 随机友链按钮 -->
    <div th:replace="~{modules/links/random-btn}"></div>
    <!-- links 相关脚本 -->
    <div th:replace="~{modules/links/script}"></div>
  </th:block>
</html>
