<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(content = ~{::content}, showAside = true, pageTitle = (${theme.config.plugins?.moments?.title} ?: '瞬间'), head = ~{::head})}"
>
  <th:block th:fragment="head">
    <th:block th:replace="~{modules/head :: moments-head}" />
  </th:block>
  <th:block th:fragment="content">
    <!-- 瞬间列表标题 -->
    <th:block th:replace="~{modules/moment/header :: content}" />
    <!-- 瞬间标签 -->
    <th:block th:replace="~{modules/moment/tags :: content}" />

    <div class="moments-list proper-height">
      <!-- 瞬间列表 -->
      <th:block th:replace="~{modules/moment/card :: content}" />

      <div th:if="${#lists.isEmpty(moments.items)}" class="moments-empty">
        <span class="icon-[ph--shooting-star-bold]"></span>
        <p>暂无瞬间</p>
      </div>
    </div>
    <!-- 分页 -->
    <th:block th:replace="~{modules/pagination :: pagination(data=${moments})}" />
  </th:block>
</html>
